<div class="">
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2>Registro de Créditos</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
            
    
              <div class="form-group">
                <label>Nombre {{miareolinea.ruta}}</label>
                <input type="text" formControlName="ruta" [(ngModel)]="miareolinea.ruta" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ruta.errors }" />
                <div *ngIf="submitted && f.ruta.errors" class="invalid-feedback">
                  <div *ngIf="f.ruta.errors.required">Nombre es requerido</div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mr-1" >Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
