<div class="">
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2>Registro de Créditos</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
              
              <div class="form-group">
                <label>Identificacion</label>
                <input type="number" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                  <div *ngIf="f.id.errors.required">Identificacion es requerida</div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                  <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mr-1" >Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
